.image {
  position: relative;
}

.tvImage {
  position: relative;
  width: 380px;
  aspect-ratio: 5 / 4;
  z-index: 1;
}

.video {
  position: absolute;
  top: 25px;
  left: 70px;
  width: 236px;
  height: 155px;
  object-fit: cover;
}

@media screen and (max-width: 950px) {
  .image {
    width: 100%;
    max-width: 100%;
  }

  .tvImage {
    width: min(550px, 100%);
    margin-inline: auto;
  }

  .video {
    width: 50%;
    height: 49%;
    top: 8.5%;
    left: 26%;
  }
}
